/*----------------------------------------------------------------------------*\
	#COLOUR VARIABLES
\*----------------------------------------------------------------------------*/

$primary: #073542;
$secondary: #000000;
$blue: #009ee3;
$light-blue: #41b6e3;
$inland:#fff;

$text: darken($secondary, 5%);

$input: white;

$lightGrey: #f4f4f4;
$success: #64c591;
