{# Prepare our error macro #}
{% macro errorList(errors) %}
    {# To display errors, you want to make sure errors exist, 
            and then you can loop through and display them #}
    {% if errors %}
            <ul class="errors">
                    {% for error in errors %}
                            <li>{{ error }}</li>
                    {% endfor %}
            </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

{# Get our Form data #}
{% set form = craft.sproutForms.form('register') %}


{# Get our Form Entry data to manage error states and re-populating field values #}
{% set submittedEntry = craft.sproutForms.getEntry(form) %}

{# Set a form-response object to output any messages #}
<div class="form-response js-form-response"></div>

<form method="post" accept-charset="UTF-8" class="register-form  js-form  js-animate  animate  animate--bottom" id="register-form">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="sproutForms/entries/saveEntry">
    <input type="hidden" name="handle" value="{{ form.handle }}">
    <input type="hidden" name="redirect" value="{{ form.redirectUri }}">

    <div class="grid  nowrap@m">
        {% for tab in form.getFieldLAyout().getTabs() %}
            {% set fields = tab.getFields() %}

                {% for field in fields %}
                    {%- set required = field.required is defined and field.required ? " required" %}

                    <div class="grid__item  size-4@m  m-t-1@s-only">
                        {% switch field.getField().type %}

                            {% case "PlainText" %}
                                <input type="text" id="{{ field.getField().handle }}" name="fields[{{ field.getField().handle }}]" placeholder="{{ field.getField().name }}" {{- required -}}>

                            {% case "SproutFields_Email" %}
                                <input type="email" id="{{ field.getField().handle }}" name="fields[{{ field.getField().handle }}]" placeholder="{{ field.getField().name }}" {{- required -}}>

                            {% case "SproutFields_Phone" %}
                                <input type="tel" id="{{ field.getField().handle }}" pattern="^(((\+44\s?\d{4}|\(?0\d{4}\)?)\s?\d{3}\s?\d{3})|((\+44\s?\d{3}|\(?0\d{3}\)?)\s?\d{3}\s?\d{4})|((\+44\s?\d{2}|\(?0\d{2}\)?)\s?\d{4}\s?\d{4}))(\s?\#(\d{4}|\d{3}))?$" name="fields[{{ field.getField().handle }}]" placeholder="{{ field.getField().name }}" {{- required -}}>

                            {% default %}

                        {% endswitch %}
                    </div>
                {% endfor %}

        {% endfor %}

        <div class="grid__item  grid__item--auto@m">
            <input class="register-form__submit  m-t-1@s-only  js-submit" type="submit" value="{{ form.submitButtonText is not empty ? form.submitButtonText : 'Send Message' }}">
        </div>

    </div>
    
</form>