{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% set baseUrl = craft.config.environmentVariables.baseUrl ?? siteUrl %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
    <head>
    	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Studio, 1 &amp; 2 bedroom apartments in High Wycombe just 23 minutes from Marylebone">
        <meta name="coverage" content="Worldwide">
        <meta name="format-detection" content="telephone=no">
    	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    	<link rel="home" href="{{ siteUrl }}">
        <link href="{{ baseUrl }}assets/styles/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        
    </head>
    
    <body>
        
        
        <aside id="aside" class="off-canvas">
            
            <h1>hello</h1>
            
        </aside>
        
        
        <div class="canvas">
        
            <header>
                
                <div class="grid  grid--item">
                    
                    <a href="#aside" class="open-off-canvas">☰</a>
                    
                    <a href="#" class="close-off-canvas">☰</a>
                        
                    <nav role="navigation">
                            
                        <ul class="app-nav__list">
                            <li class="app-nav__item"><a href="#home" class="app-nav__link">Home</a></li>
                            <li class="app-nav__item"><a href="#about" class="app-nav__link">About</a></li>
                            <li class="app-nav__item"><a href="#services" class="app-nav__link">Services</a></li>
                            <li class="app-nav__item"><a href="#rates" class="app-nav__link">Rates</a></li>
                            {# <li class="app-nav__item"><a href="#reviews" class="app-nav__link">Reviews</a></li> #}
                            <li class="app-nav__item"><a href="#contact" class="app-nav__link">Contact</a></li>
                        </ul>
                        
                    </nav>

                    <div class="grid__item size-2@l">
                        <button class="button button__nav">Get a free quote</button>
                    </div>
                
                </div>
                        
            </header>



            <!-- <header class="app-head">

                <nav role="navigation" class="app-nav">
                    <div class="grid">

                        <div class="grid__item size-1@m">
                            <img src="{{ baseUrl }}assets/images/logo.svg" width="" height="" class="app-head__logo" alt="{{ siteName }}">
                        </div>

                        <button class="hamburger  hamburger--collapse  hide@l  js-hamburger" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button> 

                    
                        
                    

                        <div class="grid__item size-10@m size-9@l">
                            <ul class="app-nav__list">
                                <li class="app-nav__item"><a href="{{ siteUrl }}" class="app-nav__link">Home</a></li>
                                <li class="app-nav__item"><a href="{{ siteUrl }}" class="app-nav__link">About</a></li>
                                <li class="app-nav__item"><a href="{{ siteUrl }}" class="app-nav__link">Services</a></li>
                                <li class="app-nav__item"><a href="{{ siteUrl }}" class="app-nav__link">Rates</a></li>
                                <li class="app-nav__item"><a href="{{ siteUrl }}" class="app-nav__link">Reviews</a></li>
                                <li class="app-nav__item"><a href="{{ siteUrl }}" class="app-nav__link">Contact</a></li>
                            </ul>
                        </div>
                        <div class="grid__item size-2@l">
                            <button class="button button__nav">Get a free quote</button>
                        </div>
                        

                    </div>
                </nav>
                
            </header> -->
                
            <main role="main" class="app-main">
                {% block content %}
                    <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
                    <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
                {% endblock %}
            </main>
            
            <footer class="app-foot">
                {% if 'submitted=true' not in craft.request.getQueryString() %}
                    
                {% endif %}
                
            </footer>

        {% includeJsFile baseUrl ~ 'assets/scripts/framework/parties/domtastic.min.js' %}
        {% includeJsFile baseUrl ~ 'assets/scripts/framework/framework.min.js' %}
        {% includeJsFile baseUrl ~ 'assets/scripts/application/application.min.js' %}


    </body>
</html>