{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% set baseUrl = craft.config.environmentVariables.baseUrl ?? siteUrl %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
    <head>
    	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Studio, 1 &amp; 2 bedroom apartments in High Wycombe just 23 minutes from Marylebone">
        <meta name="coverage" content="Worldwide">
        <meta name="format-detection" content="telephone=no">
    	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    	<link rel="home" href="{{ siteUrl }}">
        <link href="{{ baseUrl }}assets/styles/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        
    </head>
    
    <body>
        
        
        <aside id="aside" class="off-canvas app-nav">
            <ul class="app-nav__list app-nav__list--mobile hide@m">
                
                <li class="app-nav__item app-nav__item--mobile"><a href="#home" class="app-nav__link">Home</a></li>
                <li class="app-nav__item app-nav__item--mobile "><a href="#about" class="app-nav__link">About</a></li>
                <li class="app-nav__item app-nav__item--mobile "><a href="#services" class="app-nav__link">Services</a></li>
                <li class="app-nav__item app-nav__item--mobile "><a href="#rates" class="app-nav__link">Rates</a></li>
                {# <li class="app-nav__item app-nav__item--mobile "><a href="#reviews" class="app-nav__link">Reviews</a></li> #}
                <li class="app-nav__item app-nav__item--mobile "><a href="#contact" class="app-nav__link">Contact</a></li>
            </ul>
        </aside>
        
        
        <div class="canvas">
            
            <div class="mobile-menu hide@m">
                <a href="#aside" class="open-off-canvas"><h1>☰</h1></a>
                <a href="#" class="close-off-canvas">X</a>
            </div>

            <header class="app__head hide@s-only">
                
                <div class="page-wrap page-wrap--menu">

                    <img src="{{ baseUrl }}assets/images/logo.svg" width="" height="" class="app-head__logo" alt="{{ siteName }}">
                        
                    <nav role="navigation" class="app-nav">
                            
                        <ul class="app-nav__list">
                            <li class="app-nav__item"><a href="#home" class="app-nav__link js-smooth-scroll">Home</a></li>
                            <li class="app-nav__item"><a href="#about" class="app-nav__link js-smooth-scroll">About</a></li>
                            <li class="app-nav__item"><a href="#services" class="app-nav__link js-smooth-scroll">Services</a></li>
                            <li class="app-nav__item"><a href="#rates" class="app-nav__link js-smooth-scroll">Rates</a></li>
                            {# <li class="app-nav__item "><a href="#reviews" class="app-nav__link">Reviews</a></li> #}
                            <li class="app-nav__item"><a href="#contact" class="app-nav__link js-smooth-scroll">Contact</a></li>
                        </ul>
                        
                    </nav>

                    <a class="button into__button js-modal--open" href="#m1">
                        Get a free quote
                    </a> 
                    
                </div>

            </header>



            
                
            <main role="main" class="app-main">
                {% block content %}
                    <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
                    <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
                {% endblock %}
            </main>
            
            <footer class="app-foot">
                <div class="grid">
                    <div class="grid__item">
                        <img src="{{ baseUrl }}assets/images/logo.svg" width="" height="" class="app-foot__logo" alt="{{ siteName }}">
                    </div>
                </div>
                
            </footer>

        {% includeJsFile baseUrl ~ 'assets/scripts/framework/parties/domtastic.min.js' %}
        {% includeJsFile baseUrl ~ 'assets/scripts/framework/framework.min.js' %}
        {% includeJsFile baseUrl ~ 'assets/scripts/application/application.min.js' %}


    </body>
</html>