{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

     <main class="app-main" role="main">

        <section class="page-wrap">
            <div id="home"></div>
            
            <div class="grid into">
                    
                <div class="grid__item size-6@m into__logo">
                    
                    <img src="{{ baseUrl }}assets/images/full-logo.svg" width="" height="" class="main-logo" alt="Presland Heating & Plumbing Services">
                
                </div>

                <div class="grid__item size-6@m into__text">
                    
                    <h3>{{ entry.intro }}</h3>
                    <h4>{{ entry.introSubText }}</h4>
                    
                    <a class="button into__button js-modal--open" href="#m1">
                        Get a free quote
                    </a>         
                </div>
                
            </div>
            
        </section>

        <div class="image image--hero">
            
                <img src="{{ baseUrl }}assets/images/hero.jpg">
            
        </div>
        
        <section>
            <div id="about"></div>

            <div class="grid grid--edge grid--max about">
                
                    <div class="grid__item size-6@m about__text">
                        <div class="page-wrap about__spacing">
                            <img class="about__mug-shot" src="{{ baseUrl }}assets/images/mug-shot.png" width="250" height="250" alt="{{ siteName }}">  
                            
                            <p>{{ entry.about }}</p>
                        </div>

                    </div>

                    <div class="grid__item size-6@m">
                        <div id="map">
                        </div>
                    </div>
                
                </div>

        </section>

        <section>

                <ul class="certified">

                    <li class="certified-box">

                        <h2>People & work you can trust</h2>

                    </li>

                    <li class="certified-box">

                        <img class="" src="{{ baseUrl }}assets/images/check-trade.png" width="367" height="104" alt="{{ siteName }}">

                    </li>

                    <li class="certified-box">

                        <img class="" src="{{ baseUrl }}assets/images/advance.png" width="281" height="104" alt="{{ siteName }}">

                    </li>

                    <li class="certified-box">

                        <img class="" src="{{ baseUrl }}assets/images/gas-logo.png" width="133" height="160" alt="{{ siteName }}">

                    </li>

                    <li class="certified-box">

                        <img class="" src="{{ baseUrl }}assets/images/people.png" width="429" height="108" alt="{{ siteName }}">

                    </li>

                    <li class="certified-box">

                        <img class="" src="{{ baseUrl }}assets/images/water.png" width="280" height="134" alt="{{ siteName }}">

                    </li>
                </ul>
            </div>
        </section>


        <section class="services">
            <div id="services"></div>

            <div class="grid page-wrap">
                
                <div class="grid__item size-12">
                    
                    <h2>Services</h2>

                    <h5>No jobs too big or small</h5>
                </div>

            </div>

            <div class="grid page-wrap">
                {% for service in entry.services %}
                    {% if loop.first %}
                        <div class="grid__item size-6@m">
                            
                                <h5>{{ service.theTitle }}</h5>
                            

                            <div class="grid">

                                <div class="grid__item size-6@m ">
                                    
                                    <ul>
                                        {% for row in service.jobType | slice(0, 10) %}
                                            <li>{{ row.jobType }}</li>
                                        {% endfor %}
                                    </ul>
                
                                </div>

                                <div class="grid__item size-6@m">
                                    
                                    <ul>
                                        {% for row in service.jobType | slice(11) %}
                                            <li>{{ row.jobType }}</li>
                                        {% endfor %}
                                    </ul>
                
                                </div>

                            </div>

                        </div>
                        {% elseif loop.index == 2 %}
                            <div class="grid__item size-3@m services__border services__padding">

                                <h5>{{ service.theTitle }}</h5>

                                <ul>
                                    {% for row in service.jobType | slice(0, 10) %}
                                        <li>{{ row.jobType }}</li>
                                    {% endfor %}
                                </ul>

                            </div>

                        

                        {% elseif loop.index == 3 %}
                            <div class="grid__item size-3@m services__padding">

                                <h5>{{ service.theTitle }}</h5>

                                <ul>
                                    {% for row in service.jobType | slice(0, 10) %}
                                        <li>{{ row.jobType }}</li>
                                    {% endfor %}
                                </ul>

                            </div>

                        {% endif %}
                    {% endfor %}
                </div>

            </div>

        </section>

        <section class="rate">
            <div id="rates"></div>
            <div class="page-wrap">
                <div class="grid rate__page_wrap">

                    <div class="grid__item size-12">

                        <table class="rate__table">
                            <h2 class="rate__h2">Our rates</h2>
                            <tr>
                                <th class="rate__col-1"></th>
                                <th class="rate__col-2">
                                    <h5 class="rate__title">Normal Hours</h5>
                                    <p class="rate__sub-title">(7am – 8pm Monday - Friday)</p>
                                </th>
                                <th class="rate__col-3">
                                    <h5 class="rate__title">Out of hours, weekends & bank holiday</h5>
                                    <p class="rate__sub-title">(8pm-7am Monday - Friday, all day weekends and bank holidays)</p>
                                </th>
                            </tr>
                            {% for row in entry.rates %}
                                <tr>
                                    <td class="rate__col-1">{{ row.service }}</td>
                                    <td class="rate__col-2 rate__number">{{ row.standardRate }}</td>
                                    <td class="rate__col-3 rate__number">{{ row.nonStandardRate }}</td>
                                </tr>
                            {% endfor %}
                            
                        </table>

                        
                        <table class="rate__table rate__table--50">
                            <h6>System Powerflushing (including approved chemicals)</h6>
                            {% for row in entry.tableTwo %}
                                <tr>
                                    <td class="rate__col-1">{{ row.radiatorNumber }}</td>
                                    <td class="rate__col-2 rate__number">{{ row.radiatorRate }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <section class="reviews" style="background: url({{ baseUrl }}assets/images/review-bg.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div id="reviews"></div>
            <div class="grid">
                <div class="grid__item size-12">
                    <h2 class="reviews__h2">Reviews</h2>

                    <div class="js-slider slider">
                        {% for review in entry.reviews %}
                            <div class="reviews__box">
                                <div class="reviews__content">
                                    <h5 class="reviews__job">
                                        {{ review.theTitle }}
                                    </h5>
                                    <p class="reviews__text">
                                        {{ review.theReview }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="reviews__link">
                        <a href="http://www.checkatrade.com/PreslandHeatingandPlumbingServices/" target="_blank">
                            Click here to see all reviews on Checkatrade.com
                        </a>
                    </div>

                </div>
            </div>
        </section>





    {# -------------form------------- #}

        <section class="modal" id="m1">
                
            <div class="modal__content">
                
                <button class="modal__close  js-modal--close"></button>
                <div class="grid">
                    <div class="grid__item modal__wrap">
                        {% macro errorList(errors) %}
                            {% if errors %}
                                <ul class="errors">
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endmacro %}

                        {% from _self import errorList %}

                        <h4>GET A FREE QUOTE</h4>
                        <p>Please fill out the form below and we will get back to you shortly.</p>
                        <p class="small">Call us on <a href="tel:07835020316" >07835 020316</a> or email <a href="mailto:info@preslandservices.com" >info@preslandservices.com</a></p>
                        

                        <form method="post" action="" accept-charset="UTF-8" class="form">
                            {{ getCsrfInput() }}
                            <input type="hidden" name="action" value="contactForm/sendMessage">
                            <input type="hidden" name="redirect" value="thanks">

                            <h6 class="form__title"><label for="fromName">Your Name</label></h6>
                            <input class="form__input" id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                            {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                            <h6 class="form__title"><label for="fromEmail">Your Email</label></h6>
                            <input class="form__input" id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
                            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

                            <h6 class="form__title"><label for="message">Message</label></h6>
                            <textarea class="form__input" rows="1" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                            {{ message is defined and message ? errorList(message.getErrors('message')) }}

                            <input class="button" type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            
        </section>
        
    </main> 
	
  
	
{% endblock %}
