/*----------------------------------------------------------------------------*\
	#APP NAV
\*----------------------------------------------------------------------------*/



.app-nav {
    display: flex;

    &__list {
        display: flex;
        list-style: none;
        margin: auto;
        
        &--mobile {
            display: block;
        }
    }

    &__item {
        display: flex;
        margin: auto 1.75rem;
        font-size: 1rem;

        &--mobile {
            display: block;
            color:$secondary;
            margin: 1.5rem 0;
        }
    }

}

.mobile-menu {
    font-size: 1rem;
    margin: 1rem 0 0 1rem;
}

#home, #about, #services, #rates, #reviews, #contact {
    @include media(m) {
        position: absolute;
        top: -100px;
    }
}