/*----------------------------------------------------------------------------*\
	#APP HEADER
\*----------------------------------------------------------------------------*/

.app-head {
    color:#262626;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    
    &__logo {
        width: 3rem;
        height: 3rem;
        display: flex;
        
       

        @include media(m) {
            width: 3rem;
            height: auto;

        }
        
        @include media(l) {
            width: 3rem;
            height: auto;
            
        }
    }
}

