/*----------------------------------------------------------------------------*\
	#APP NAV
\*----------------------------------------------------------------------------*/



.app-nav {
    display: flex;

    &__list {
        display: flex;
        list-style: none;
        margin: auto;
    }

    &__item {
        display: flex;
        margin: auto 2rem;
    }

}