@import './node_modules/tiny-slider/src/tiny-slider';

[data-controls="prev"] {
    
}

[data-nav] {

    border: 1px solid #272726;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;
    margin: 0 0.25rem;

    &[aria-selected="true"] {
        background: #272726;
    }
}

[data-tns-role="nav"] {
    max-width: 6.5rem;
    margin: 1rem auto;
}